.tooltip-button {
    width:32px;
    height:32px;
}

.tooltip-button-selected {
    box-shadow: inset 0px 0px 5px 2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
